<!DOCTYPE html>
<html>
<head>
    <title>Meridian Online Admin</title>
    <link href="~/content/bootstrap.css" rel="Stylesheet" media="screen" type="text/css" />
    <link href="~/content/StyleSheet.css" rel="Stylesheet" media="screen" type="text/css" />  
    <link href="~/content/myStyles.css" rel="Stylesheet" media="screen" type="text/css" />  
    <link rel="icon" href="favicon.ico" type="image/ico">
<script>

</script>

</head>
    <body style="padding-top: 50px">
        
        <!-- The main container. -->
        <div class="container">
            <h1 style="text-align:center">Meridian Computers On-Line Admin</h1>
            <h2 style="text-align:right"></h2>
            
            <!-- Example row, with four columns. -->
            <div class="row" style="text-align: center;">
                <div class="col-md-3">
                    <img style="padding-bottom: 10px;" alt="Products" class="img-rounded" width="200px" height="200px"src="~/Images/itProds.png"/>
                    <a href="~/Members/Product/Products.cshtml" class="btn btn-primary btn-sm">Products</a>
                </div>
                <div class="col-md-3">
                    <img style="padding-bottom: 10px;" alt="Suppliers" class="img-rounded" width="200px" height="200px"src="~/Images/suppliers.png"/>
                    <a href="~/Members/Supplier/Suppliers.cshtml" class="btn btn-primary btn-sm">Suppliers</a>
                </div>
                <div class="col-md-3">
                    <img style="padding-bottom:10px;" alt="Customers" class="img-rounded" width="200px" height="200px"src="~/Images/customers.png"/>
                    <a href="~/Members/Customer/Customers.cshtml" class="btn btn-primary btn-sm">Customers</a>
                </div>
                <div class="col-md-3">
                    <img style="padding-bottom: 10px;" alt="Employees" class="img-rounded" width="200px" height="200px"src="~/Images/employee.gif"/>
                    <a href="~/Members/Employee/Employees.cshtml" class="btn btn-primary btn-sm">Employees</a>
                </div>
            </div>
            
            <hr />
            
             <!-- Another row, with two columns. -->
            <div class="row" style="text-align: center;">
                <div class="col-md-3" >
                </div>
                <div class="col-md-3">
                    <img style="padding-bottom: 10px;"alt="Tasks" width="250px" height="200px"src="~/Images/Task.png"/>
                    <a href="~/Members/Task/Tasks.cshtml" class="btn btn-primary btn-sm">Task Assignments</a>
                </div>
                <div class="col-md-3"> 
                    <img style="padding-bottom: 10px;" alt="Tasks" width="250px" height="200px"src="~/Images/Invoice.png"/>
                    <a href="~/Members/Invoices/Invoices.cshtml" class="btn btn-primary btn-sm">Invoices</a>
                </div>
                <div class="col-md-3"> 
                </div>
            </div>
 
                       
            <hr />

            <p style="text-align: center">
                <small>&#169;Kudsi Tuluoglu, 
                        <script>var today = new Date(); var year = today.getFullYear(); document.write(year);</script>
                </small>
               <a href="http://kudsituluoglu.co.uk" target="_blank"><img alt="Employees" class="img-rounded" width="30px" height="30px"src="~/favicon.ico"/></img></a> </div>
             </p>
 
        </div>
        <!-- Include jQuery and Boostrap. -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>

</html>  